.not-found {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading-not {
  color: #183b56;
}

.description {
  color: #5a7184;
}

.img-section{
  height:500px;
}
